{{yield}}

	<div class="leftColumn">
		{{#each skills as |skill|}}
			<div class="skill" {{action "click" skill.description}}>{{skill.name}}</div>
		{{/each}}
	</div>

	<div class="rightColumn">
	</div>
