*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Helvetica;
}

h2, footer p{
  color: #2F333F;
  text-align: center;
}

footer, header {
  position: relative;
}

h2 {
  color: #2F333F
}

.position { font-size: .9em; font-weight: normal; font-style: italic;}

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #4E5C72;
}

a:hover {
  text-decoration: underline;
  color: #343F3E;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

.skill-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.skill {
  font-size: 1.1em;
  font-weight: normal;
  clear: both;
  margin: 3.3em;
  padding: .3em;
  border-top: 1px solid #C0C0C0;
}

.skill-name {
  font-size: 1.2em;
  font-weight: 100;
  float: left;
  width: 35%;
}

.skill-name:hover {
  text-decoration: underline;
  color: #343F3E;
}

.skill-detail {
  float: right;
  text-align: left;
  width: 65%;
}


/* MEDIA QUERIES */
@media screen and (max-width: 700px ) {
  .skill-wrapper {
    width: 320px;
    clear: both;
    display: block;
  }
  .skill-name, .skill-detail {
    clear: both;
    display: inline;
  }
}
