body {
	color: #002204;
	padding: 1%;
}

a {
	color: #500400;
	text-decoration: none;
	padding-left: 3%;
}

a:hover {
	color: #003E08;
	text-decoration: underline;
}

.contents{
	max-width: 1000px;
}

.navigation {

	padding-left: 20%;
	padding-right: 30%;
	font-size: 20px;
}

li {
	width: 20%;
	float: left;
	list-style-type: none;
	padding-bottom: 1%;
}

.container-bottom {
	padding-top: 35%;
}

.container{
	float: left;
	display: inline;
}

h4{
	padding-left: 50%;
	padding-right: 50%;
}

h2{
	padding-left:30%;
	padding-right: 30%;
}

.left-side {
	width: 20%;
}

.skill {
	padding-bottom: 1%;
}

.right-side {
	width: 70%;
}