
  	<h2>Ray Muñeton <span class="position">Solutions Architect</span></h2>

    <header>
       <nav>
          <ul class="nav inline-items">
            <li><a href="#">{{#link-to "personality"}}personality{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "languages"}}languages{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "tools"}}tools{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "concepts"}}concepts{{/link-to}}</a></li>
         </ul>
      </nav>
    </header>

  	<div class="columnsContainer">
	  		{{outlet}}
  	</div>

    <footer>
    	<hr />
  		<p>
        <a href="https://github.com/mrsmuneton/resume" target="_blank">Github</a> |
        <a href="https://twitter.com/mrsmuneton" target="_blank">Twitter</a> |
        <a href="https://www.linkedin.com/in/raynielson/" target="_blank">LinkedIn</a> |
        Hollywood CA</p>
  	</footer>
