<div id="heading">
<h2 id="title">Ray Muneton</h2>

<div class="navigation">
{{#link-to "languages"}}languages{{/link-to}}
{{#link-to "tools"}}tools{{/link-to}}
{{#link-to "experience"}}experience{{/link-to}}
{{#link-to "person"}}person{{/link-to}}
</div>
</div>

{{outlet}}


