
  	<h2>Ray Muneton</h2>
    
    <header>
       <nav>
          <ul class="nav inline-items">
            <li><a href="#">{{#link-to "languages"}}languages{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "tools"}}tools{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "concepts"}}concepts{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "experience"}}experience{{/link-to}}</a></li>
            <li><a href="#">{{#link-to "person"}}person{{/link-to}}</a></li>
         </ul>
      </nav>
    </header>

  	<div class="columnsContainer">
	  		{{outlet}}
  	</div>
    
    <footer>
    	<hr />
  		<p>hollywood CA</p>
  	</footer>
