{{outlet}}

<div class="container">
<p>I’ve got ten years of web programming experience developing solutions for in a variety of different industries.  I believe there is always something more to learn, and I've learned enough hard lessons to become skilled at jumping into new codebases, environments, and infrastructures. </p>
<p>Well reasoned processes and a healthy dose of pragmatism are two characteristics that I have seen help sculpt great web products.  I've worked with small and medium size teams, and I like talking with people about their web products.  I understand how to engage stakeholders in defining success and then hone and align development processes.</p>
<p>It is fulfilling to create business value in the medium of the internet, and I am versed in dev tradeoffs/priorities present in different internet business models. </p>
</div>
