{{outlet}}

<div class="contents">
<h4>languages</h4>
    <ul>
      <li>javascript<div class="details">Senior javascript dev, using js since before ajax was new.</div></li>
      <li>php<div class="details">Expert php dev, able to revive decade old code or build an up to the minute full featured site.</div></li>
      <li>SQL<div class="details">Solid query writing skills and a deep understanding of relational database concepts.</div></li>
      <li>python<div class="details">Used python scripts for data manipulation.</div></li>
      <li>ruby<div class="details">Used ruby build tools.</div></li>
      <li>rust<div class="details">Actively exploring rust language.</div></li>
      <li>scala<div class="details">Seeking opportunities to use scala.</div></li>
      <li>golang<div class="details">Wrote static file server with go for fun.</div></li>
    </ul>

    <!-- <div class="hideme">☻ se habla espanol</div> -->
</div>