{{outlet}}
<div class="contents">
<div class="container">
<p>I am fascinated by systems and system interactions.  My favorite programming problems have to do with handoffs between systems, so I like writing and consuming APIs, connecting to shared credential systems, and finding ways to drive pertinent information into the users view out of a large data set.  I develop impactful solutions and crave challenging problems to solve with great teams.</p>
</div>
<div class="container">
<p>
<b>Active Memberships</b><br />
  Linux Chix<br />
  Ebell Club of Los Angeles
 </p>
 <p>
 <b>Links</b><br />
 <a href="https://twitter.com/mrsmuneton">twitter</a><br />
 <a href="https://github.com/mrsmuneton/resume">this project on github</a>
 </p>
</div>
</div>

