{{outlet}}

<div class="personality">
<ul>
<li>I built my first webpage at 13</li>
<li>AWS Certified Solutions Architect - Associate</li>
<li>Earned Bachelors of Computer Science Linfield College McMinnville, Oregon 2006</li>
<li>My favorite bash shortcut is Ctrl+R</li>
</ul>
</div>
