{{outlet}}
<div class="contents">
	<div class="container">
    <h4>tools</h4>     
	{{skill-display skills=model}}
    </div>
    <div class="container-bottom">
    <h4>concepts</h4>
    <ul>
      <li>REST (and SOAP) APIs</li>
      <li>MVC</li>
      <li>modularity</li>
      <li>environment test sets</li>
      <li>agile</li>
      <li>ecommerce</li>
      <li>Templating Engines</li>
      <li>CMS Systems</li>
      <li>SPAs</li>
      <li>Systems Thinking</li>
    </ul>
    </div>
</div>


