{{outlet}}
<div class="contents">
    <h4>tools</h4>
    <ul>
      <li>git<div class="details">Familiar with different git workflows including Pull Requests and git flow.</div></li>
      <li>svn<div class="details">Dealt with subversion on the command line and through guis.</div></li>
      <li>node versions 0.12 - 4<div class="details">I write custom node scripts and implement common patterns, libraries, and frameworks.</div></li>
      <li>Express<div class="details">Used middleware tools for route architecting and serving files.</div></li>
      <li>Backbone/Ember/Angular<div class="details">Used different frameworks for Single Page Applications.</div></li>
      <li>Parse SDK<div class="details">I've production experience with facebook's soon to be retired javascript SDK.</div></li>
      <li>php Frameworks<div class="details">I've used Zend, Silverstripe, Symphony, Codeigniter, Cake, and others.</div></li>
      <li>php versions 3-5<div class="details">I lived the breakthrough upgrade from functional to object oriented php.</div></li>
      <li>apache<div class="details">Configured lots of servers in lots of environments, from local to production.</div></li>
      <li>heroku/aws<div class="details">Comfortable with abstracted resources including cdns and containerization.</div></li>
      <li>nginx<div class="details">Used nginx a caching layer and a web server.</div></li>
      <li>mongo<div class="details">Optomizing, indexing, and querying mongodb using mongo.</div></li>
      <li>redis<div class="details">Query redis key-value store from applications and command line.</div></li>
      <li>jenkins<div class="details">Competent with continious integration deploy techniques and automated code promotion into production.</div></li>
    </ul>    
    <h4>concepts</h4>
    <ul>
      <li>REST (and SOAP) APIs</li>
      <li>MVC</li>
      <li>modularity</li>
      <li>environment test sets</li>
      <li>agile</li>
      <li>ecommerce</li>
      <li>Templating Engines</li>
      <li>CMS Systems</li>
    </ul>
</div>

